* {
    margin: 0;
    padding: 0;
}

body {
  background-color: #D8C200;
  text-align: center;
}

header {
  margin: 20px;
}

p {
font-size: 22px;
  margin: 20px;
}

h2 {
  font-size: 40px;
  font-weight: 900;
  margin: 20px;
}

footer {
  background-color: black;
  color: white;
  padding: 15px;
  font-weight: 1000;
  font-size: 20px;
}